.container {
    display: flex;
    justify-content: center;  /* Horizontal centering */
    align-items: center;      /* Vertical centering */
  }
  .box {
    text-align: center;
    border: 1px solid #ccc;
    padding: 2rem;
    border-radius: 8px;
    width: 300px;
    
  }
  
  .inputField {
    margin: 1rem;
  }
  
  .inputField input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box; /* Ensures padding, border included  */
  }
  
  .button {
    padding: 8px;
  }
  