.textarea {
  width: 100%; /* This makes the textarea take the full width of its container */
  text-align: center;
  font-size: 20px;
  resize: none;
  border: none;
  font-family: inherit;
  background-color: var(--middleground);

  overflow-wrap: normal; /* Prevents words from breaking */
  overflow: hidden;
}
.textareaContainer {
  display: flex;
  align-items: center;
  height: 130px;
  width: 400px;

  padding: 30px;
}

.textarea:focus {
  border: none;
  outline: none;
}

.resultContainer {
  margin: 10px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  height: 190px;
  border-radius: 5px;
}

.author {
  font-weight: 300;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: -20px;
}

.img {
  width: 100%;
  height: auto;
}
.imgHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}
