.header {
  position: fixed;
  top: 0; /* Or adjust as needed */
  left: 0;
  height: 10vh;
  width: 100%;
  background-color: var(--middleground);
  z-index: 1000; /* Ensures the header is on top of other content */
  display: flex;
  justify-content: space-between; /* Adjusts space between h1 and nav */
  align-items: center; /* Vertically centers h1 and nav */
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}
.header h2,
.header nav ul {
  margin: 12px;
}

.header nav ul {
  list-style: none;
  display: flex;
  padding-top: 0;
}

.header nav ul li {
  margin-inline: 10px;
  display: flex;
  align-items: center;
}

.header nav ul li a {
  color: inherit;
  text-decoration: none;
}
