/* Profile.module.css */
.container {
  margin-top: 15px;
}

.profileContentMain {
  display: flex;
  justify-content: center;
  border-bottom: 1.5px solid rgba(100, 100, 100, 0.5);
  border-top: 1.5px solid rgba(100, 100, 100, 0.5);

  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.profileContentSub {
  text-align: center;
}

.profileLeft {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileRight {
  flex: 1.2;
}

.username {
  font-size: 2rem;
  font-weight: bold;
}

.stats {
  display: flex;
  gap: 20px;
  font-size: 1.2rem;
  color: #888;
}

.bio {
  margin-top: 20px;
  padding-right: 20%;
  color: #888;
}

.imgHolder {
  background-color: #ccc; /* Default background color */
  width: 35%;
  aspect-ratio: 1/1;
  min-width: 100px;
  border-radius: 50%;
  margin-right: -20%;
  overflow: hidden;
  position: relative; /* Keep the relative positioning for child elements */
}

.profilePic {
  width: 100%;
}
