/* Profile.module.css */
.container {
  margin-top: 15px;
}

.profileContentMain {
  display: flex;
  justify-content: center;
  border-bottom: 1.5px solid rgba(100, 100, 100, 0.5); /* Darker gray */
  border-top: 1.5px solid rgba(100, 100, 100, 0.5);

  border-radius: 10px; /* Add this to make the sides curved */
  padding-top: 30px;
  padding-bottom: 30px;
}

.profileContentSub {
  text-align: center;
  border-radius: 10px; /* Rounded corners */
  margin-top: 20px;
}

.profileLeft {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePic {
  width: 35%;
  min-width: 100px;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  margin-right: -20%;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.profileRight {
  flex: 1.2;
}

.username {
  font-size: 2rem;
  font-weight: bold;
}

.stats {
  display: flex;
  gap: 20px;
  font-size: 1.2rem;
  color: #888;
}

.bio {
  margin-top: 20px;
  padding-right: 20%;
  color: #888;
}
