/* PostsBoard.module.css */

.exit {
  top: 12vh;
  right: 60vw;
  position: fixed;
  z-index: 10;
}

.scroll {
  position: fixed;
  background-color: var(--middleground);
  padding-inline: 1vw;
  box-sizing: border-box;
  top: 10vh;
  height: 88vh;
  width: 40vw;
  overflow-y: auto;
  scrollbar-width: thin;
}

.postsList {
  transition: padding-left 0.2s ease;
  overflow: hidden;
  
}

.postItem {
  white-space: pre-line;
  box-sizing: border-box;
  padding-inline: 1vw;
}

.postItem:hover {
  color: aqua;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  background-color: #121212;
  color: #ffffff;
}
.quotesContainer {
  flex: 1; 
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 30px;
  padding: 10px;
  background-color: #1f1f1f;
  align-items: start; 
}
.quoteCard {
  padding: 40px;
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  word-wrap: break-word; 
  color: #333333; 
  transition: transform 0.2s;
}
.quoteCard:hover {
  transform: scale(1.05); 
}
