/* PostsBoard.module.css */

.exit {
  top: 12vh;
  right: 60vw;
  position: fixed;
  z-index: 10;
}

.scroll {
  position: fixed;
  background-color: var(--middleground);
  padding-inline: 1vw;
  box-sizing: border-box;
  top: 10vh;
  height: 88vh;
  width: 40vw;
  overflow-y: auto;
  scrollbar-width: thin;
  z-index: 3;
}

.postsList {
  transition: padding-left 0.2s ease;
  overflow: hidden;
}

.postItem {
  white-space: pre-line;
  box-sizing: border-box;
  padding-inline: 1vw;
}

.postItem:hover {
  color: aqua;
}
