.header {
  position: fixed;
  top: 0; /* Or adjust as needed */
  left: 0;
  width: 100%;
  background-color: inherit;
  z-index: 1000; /* Ensures the header is on top of other content */
  display: flex;
  justify-content: space-between; /* Adjusts space between h1 and nav */
  align-items: center; /* Vertically centers h1 and nav */
  padding-inline: 20px;
  box-sizing: border-box; /* Ensures padding and border are included in the width */

}
  
.header nav ul {
  list-style: none;
  display: flex;
}

.header nav ul li {
  margin: 10px;
}

.header nav ul li a {
  color: inherit;
  text-decoration: none;
}



  