.avatarWrap {
  position: relative;
  display: inline-block; /* or any other display type based on your layout */
}

.avatarWrap::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  pointer-events: none; /* So the overlay does not interfere with clicks */
}

.avatarWrap:hover::after {
  background-color: rgba(250, 250, 250, 0.3); /* Black with 50% opacity */
}

.wrapName {
  text-decoration: none;
  color: unset;
}
.wrapName:hover {
  text-decoration: underline;
}
